
.fix{
position: fixed;
padding : 0.2rem 2rem 0.1rem 0rem;
background-color: whitesmoke;
box-shadow: 0px 1px 10px;
text-align: right;}
.main-menu{
   
}
.navbar-brand{
    padding : 0 2rem 0 5rem;
}
.navbar-brand img{
    height : 40px; 
    width : 40px; 
}
.header-area .main-menu .nav-item .nav-link{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0.5rem;
    border-left: #26003a solid 1px;
} 

.header-area .main-menu .navbar-nav .active a{
   background-color: linear-gradient(#B865E4,#FF5450);
}
.header-area .main-menu .navbar-nav a:hover {
    background: linear-gradient(#B865E4,#FF5450);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* '''''''''''''' start banner'''''''''''''''''''''*/
.banner-title h3{
    font-weight: 500
}
.banner-title h2{
    font-weight: 500;
}
.banner-title h1{
    font-weight: 800;
    font-size:3rem;
    color:#26003a;
}
.banner-image img{
    padding:7rem 0 0 0;
     
}
.banner {

    background-color: #fce5f6c4;
}

.banner-title button{
    font-weight: 700;
    background:linear-gradient(#B865E4,#FF5450) ;
    color:whitesmoke;
    padding:0.3rem 2rem;
    transition: 0.3s;
    margin-top: 50px;
    text-decoration: none;
}
.banner-title button a{
    text-decoration: none;
    color:whitesmoke;
}
.banner-title button a:hover{
    text-decoration: none;
    color:rgb(19, 3, 26);
}
.banner-title button:hover{
    font-weight: 700;
    background:whitesmoke;
    color:rgb(7, 0, 6);
    padding:0.3rem 2rem;
   border: solid #26003a;
   border-radius: 1px;
   box-shadow: 0px 2px 2px;
}


/* '''''''''''''' end banner'''''''''''''''''''''*/

/* '''''''''''''' start ABOUT US'''''''''''''''''''''*/
.about-title h2{
    letter-spacing: 5px;
    line-height: 40px;
}


body{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}
.about-title p{
    font-size:18px;
    font-weight:400;
    line-height: 25px;
}

.about-title button {
    font-weight: 700;
    background:linear-gradient(#B865E4,#FF5450) ;
    color:whitesmoke;
    padding:0.3rem 2rem;
    transition: 0.3s;
    text-decoration: none;
}

   
   

.about-title button a{
    text-decoration: none;
     color:whitesmoke;
}
.about-title button a:hover{
    text-decoration: none;
     color:rgb(21, 2, 29);
}
.about-title button:hover{
    font-weight: 700;
    background:whitesmoke;
    color:rgb(7, 0, 6);
    padding:0.3rem 2rem;
   border: solid #26003a;
   border-radius: 1px;
   box-shadow: 0px 2px 2px;
}
/* '''''''''''''' END ABOUT US'''''''''''''''''''''*/


/* ''--'''============''''start brand logos''''============'''*/
.brand-logo{
    justify-content:center;
}
.brand-logo img:hover{
   border-radius: 2px;
   box-shadow: 0px 5px 15px;
   transform:scale(1.1);
   filter:opacity(1);
}
.brand-logo img{
   filter: opacity(0.6);
    margin: 1.7rem;
}

.years{
    margin-bottom:3rem ;
    font-size: large;
    font-weight: 400;
    text-align: center;
    
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.years{
    font-size: large;
    font-weight: 400;
    text-align: center;
    
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

   

.experience-area {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;

}
.call-us-now span{
    font-size: 25px;
    font-weight: 700;
    color: #472ae9;
}
.call-center h2{
    font-size:100px;
    font-weight: 900;
    color: #26003a;
}
.call-center .age span{
    font-size:50px;
    font-weight: 400;
    color: #26003a;
}

.call-center {

background-color:#fce5f6c4;}

.years-area{
border-bottom: #26003a;
border-style: groove;}
.call-center{
    margin-left: 2rem;
border : solid #26003a;}

.call-center  .call-area p{
justify-content: center;
background-color:#fce5f6c4;}

.call-center .years-area{
background-color:#fce5f6c4;} 


/* ''--'''============''''end brand logos''''============'''*/

/*--'''============''''start products area''''============'''--*/
.product-heading{
    padding-top: 5rem;
    font-weight: bold;
    color: #26003a;
    font-size: 35px;
}
.para-products-offer{
    padding: 0rem 1rem 0rem 1rem ;
    font-weight:600;
    line-height: 30px;
}
.product-show{
background-color: #fcf6ff;
padding: 2rem;
width: 16rem;
margin: 5px;
border-radius: 10px;
transition: box-shadow 0.5s ease;
}
.product-show:hover{
box-shadow: 0px 7px 20px;
}

/*--'''============''''end products area''''============'''--*/

/*--'''============''''start PROJECT area''''============'''--*/
.project-title{
    font-weight: 700;
    padding-top: 5rem;
}
.button-project-area{
    padding: 2rem 0rem ;
}
.button-project-area button + button{
    padding-left: 2rem;
}
.button-project-area button{
    text-transform: uppercase;
    font-weight: 500;
    background: transparent;
    border: none;
}


.project-img:hover img{
    filter: brightness(1.1) drop-shadow(0px 2px 20px);
}
.project-img img{
    border-radius: 0.5rem;
}
/*--'''============''''end PROJECT area''''============'''--*/

/*--'''============''''start CLIENT area''''============'''--*/
.client{
    box-shadow: 0px 1px 5px;
    background-color:#f4ecf8;
    margin: 1.5rem;
}
.client-text{
    align-content: center;
    padding: 1rem;
    font-size: 500;
}
.client-img{
    align-content: center;
    padding: 1rem;
    
}
.owl-carousel .owl-dots .owl-dot.active span{
    background-color: #d59ff1;
    color:#26003a;
    width: 12px;
}

/*--'''============''''end CLIENT area''''============'''--*/

/*--'''============''''START GET UPDATE area''''============'''--*/
.get-update-area{
    background: url(../img/getupdate\ from\ us\ img.jpg) no-repeat;
    padding: 5rem;
    margin: 2rem;
    
}
.get-update-title{
    color: rgb(211, 224, 248);
    font-weight: 700;
  
}
.get-update-body{
    color: rgb(223, 237, 248);
    font-weight: 600;
}
.input-email input{
    background: transparent;
    width: 20rem;
    border-color:whitesmoke;
    color: aliceblue;
    padding: 0.5rem 1rem;
}
.input-email input::placeholder{
   color: whitesmoke;
}
.subscribe-button .btn-success{
   background-color: whitesmoke;
   padding: 0.5rem;
   color: #26003a;
   font-weight: 700;
}
.subscribe-button .btn-success:hover{
   transform: scale(1.1);
   box-shadow: 0px 2px 10px;
}

/*--'''============''''end GET UPDATE area''''============'''--*/

/*--'''============''''START FOOTER area''''============'''--*/
.footer a img{
    margin-top: 3rem;
}
.footer i{
    padding:0rem 2rem;
    filter: opacity(0.3);
}
.footer i:hover{
   transform: scale(1.1);
    filter: opacity(1);
}
.footer p{
    font-weight: 600;
    color: #26003a;
}
.footer h6{
    font-weight: 400;
    color: #13001d;
    margin: 2rem;
    font-size: small;
}

.element-item{
    margin-bottom: 15px;
}
/*--'''============''''END FOOTER area''''============'''--*/

 
/*--'''============''''phone responsiveness start''''============'''--*/
@media (max-width: 500px){
    .navbar-brand img{
        height: 30px; 
        width: 30px; 
    }
    .navbar-brand{
        padding : 0 2rem 0 2rem; 
    }

.header-area .main-menu .nav-item .nav-link{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0.5rem;
    border-left: #26003a solid 1px;
} 

.header-area .main-menu .navbar-nav .active a{
  color: linear-gradient(#B865E4,#FF5450);
}
.header-area .main-menu .navbar-nav a:hover {
    background: linear-gradient(#B865E4,#FF5450);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* '''''''''''''' start banner'''''''''''''''''''''*/
.banner-title h3{
    font-weight: 500
}
.banner-title h2{
    font-weight: 500;
}
.banner-title h1{
    font-weight: 800;
    font-size:3rem;
    color:#26003a;
}
.banner-image img{
    padding:7rem 0 0 0;
     
}
.banner {

    background-color: #fce5f6c4;
}



/* '''''''''''''' end banner'''''''''''''''''''''*/

/* '''''''''''''' start ABOUT US'''''''''''''''''''''*/
.about-title h2{
    letter-spacing: 5px;
    line-height: 40px;
}

.about-title p{
    font-size:18px;
    font-weight:400;
    line-height: 25px;
}


/* '''''''''''''' END ABOUT US'''''''''''''''''''''*/


/* ''--'''============''''start brand logos''''============'''*/
.brand-logo{
    justify-content:center;
}
.brand-logo img:hover{
   border-radius: 2px;
   box-shadow: 0px 5px 15px;
   transform:scale(1.1);
   filter:opacity(1);
}
.brand-logo img{
   filter: opacity(0.6);
    margin: 1.7rem;
}

.years{
    margin-bottom:3rem ;
    font-size: large;
    font-weight: 400;
    text-align: center;
    
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.years{
    font-size: large;
    font-weight: 400;
    text-align: center;
    
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

   

.experience-area {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;

}
.call-us-now span{
    font-size: 25px;
    font-weight: 700;
    color: #472ae9;
}
.call-center h2{
    font-size:100px;
    font-weight: 900;
    color: #26003a;
}
.call-center .age span{
    font-size:50px;
    font-weight: 400;
    color: #26003a;
}

.call-center {

background-color:#fce5f6c4;}

.years-area{
border-bottom: #26003a;
border-style: groove;}
.call-center{
    margin-left: 2rem;
border : solid #26003a;}

.call-center  .call-area p{
justify-content: center;
background-color:#fce5f6c4;}

.call-center .years-area{
background-color:#fce5f6c4;} 


/* ''--'''============''''end brand logos''''============'''*/

/*--'''============''''start products area''''============'''--*/
.product-heading{
    padding-top: 3rem;
    font-weight: bold;
    color: #26003a;
    font-size: 25px;
}
.para-products-offer{
    padding: 0rem 0rem 0rem 0rem ;
    font-weight:600;
    line-height: 25px;
}
.product-show{
background-color: #fcf6ff;
padding: 1rem;
width: 50%;
margin: 0 auto;
border-radius: 10px;
transition: box-shadow 0.2s ease;
}
.product-show:hover{
box-shadow: 0px 7px 20px;
}

/*--'''============''''end products area''''============'''--*/

/*--'''============''''start PROJECT area''''============'''--*/
.project-title{
    font-weight: 700;
    padding-top: 5rem;
}
.button-project-area{
    padding: 2rem 0rem ;
}
.button-project-area button + button{
    padding-left: 1rem;
}
.button-project-area button{
    text-transform: uppercase;
    font-weight: 500;
    background: transparent;
    border: none;
}

.project-img:hover img{
    filter: brightness(1.1) drop-shadow(0px 2px 20px);
}


/*--'''============''''end PROJECT area''''============'''--*/

/*--'''============''''start CLIENT area''''============'''--*/
.client{
    box-shadow: 0px 1px 5px;
    background-color:#f4ecf8;
    margin: 1.5rem;
}
.client-text{
    align-content: center;
    padding: 1rem;
    font-size: 500;
}
.client-img{
    align-content: center;
    padding: 1rem;
   
}
.owl-carousel .owl-dots .owl-dot.active span{
    background-color: #d59ff1;
    color:#26003a;
    width: 12px;
}

/*--'''============''''end CLIENT area''''============'''--*/

/*--'''============''''START GET UPDATE area''''============'''--*/
.get-update-area{
    background: url(../img/getupdate\ from\ us\ img.jpg) no-repeat;
    padding: 1rem;
    margin: 5px;
    
}
.get-update-title{
    font-weight: 700;
}
.get-update-body{

    font-weight: 600;
}
.input-email input{
    background: transparent;
    width: 20rem;
    border-color:whitesmoke;
    color: aliceblue;
    padding: 0.5rem 0.5rem;
}
.input-email input::placeholder{
   color: whitesmoke;
}
.subscribe-button .btn-success{
   background-color: whitesmoke;
   padding: 0.5rem;
   color: #26003a;
   font-weight: 700;
}
.subscribe-button .btn-success:hover{
   transform: scale(1.1);
   box-shadow: 0px 2px 10px;
}

/*--'''============''''end GET UPDATE area''''============'''--*/

/*--'''============''''START FOOTER area''''============'''--*/
.footer a img{
    margin-top: 3rem;
}
.footer i{
    padding:0rem 2rem;
    filter: opacity(0.3);
}
.footer i:hover{
   transform: scale(1.1);
    filter: opacity(1);
}
.footer p{
    font-weight: 600;
    color: #26003a;
}
.footer h6{
    font-weight: 400;
    color: #13001d;
    margin: 2rem;
    font-size: small;
}

/*--'''============''''END FOOTER area''''============'''--*/
}

/*--'''============''''phone responsiveness end''''============'''--*/
